@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>LineView Solutions</h1>
    <p class="lead">LineView Solutions specialise in providing cutting edge systems and support to improve manufacturing efficiency.</p>
    <p><a href="http://www.lineview.com" class="btn btn-primary btn-large">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>MachineView</h2>
        <p>
            MachineView™ collects Real-time data to allow you to start visualising the information you need to drive decision making and improve your OEE.
        </p>
        <p><a class="btn btn-default" href="http://www.lineview.com/machineview_explained.html">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>LineView</h2>
        <p>LineView™ monitors your entire line in real-time to provide powerful manufacturing performance intelligence to drive continuous improvement.</p>
        <p><a class="btn btn-default" href="http://www.lineview.com/lineview_explained.html">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>FactoryView</h2>
        <p>Combining automated data capture, reading data from existing equipment and monitors, and capturing manual input where necessary, FactoryView™ provides the overview you need.</p>
        <p><a class="btn btn-default" href="http://www.lineview.com/factoryview_explained.html">Learn more &raquo;</a></p>
    </div>
</div>